/* Desktop / Laptop */
.breadcrumb {
  margin: 32px 0 20px;
}

.breadcrumb a{
  text-decoration: none;
  color: inherit;
}

.breadcrumb-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

.breadcrumb-parent {
  color: #111;
}

.breadcrumb-separator {
  color: #e1cf00;
  font-size: 12px;
  line-height: 1;
}

.breadcrumb-current {
  color: #6b6b6b;
}


/* Tablet */
@media (width <= 992px) {
  .breadcrumb {
    margin: 24px 0 16px;
  }

  .breadcrumb-wrapper {
    font-size: 13px;
    gap: 8px;
  }

  .breadcrumb-separator {
    font-size: 11px;
  }

}


/* Mobile */
@media (width <= 600px) {
  .breadcrumb {
    margin: 20px 0 14px;
  }

  .breadcrumb-wrapper {
    font-size: 12px;
    gap: 6px;
    letter-spacing: 0.2px;
  }

  .breadcrumb-separator {
    font-size: 10px;
  }
}
